<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,700,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>
    <div class="container"> 
        <h2 style="text-align: center;">User's video detail</h2>
        
        <div class="row">
            <table style="font-weight: 500; font-size: 18px;" class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Video</th>
                        <th>Size</th>
                        <th>Time</th>
                        
                    </tr>
                </thead>
                <tbody id="all_logs">

                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            all_logs();
        });

        function all_logs() {
            $.ajax({
                url: 'get_logs',
                type: 'GET',
                success: function (data) {
                    var buffer = "";
                    for (var i = 0; i < data.data.length; i++) {
                        console.log(data.data[i]);
                        buffer += `
                        <tr>
                        <td>${data.data[i].username}</td>
                        <td>${data.data[i].email}</td>
                        <td>${data.data[i].video_name}</td>
                        <td>${parseInt(data.data[i].size/1024000)+" MB"}</td>
                        <td>${data.data[i].time}</td>
                        </tr>
                        `;

                    }

                    $('#all_logs').append(buffer);
                }
            })
        }
    </script>
</body>

</html>